
.Card__container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: solid aquamarine 4px;
    border-radius: 20px;
    width: 300px;
    padding: 1rem;
    margin-top: 5rem;
    
}



.img1, .Card__content{
    max-width: 100%;
}

.Card__title{
    text-align: center;
    padding: .5rem;
}