.container-footer{
    
    margin: auto;
    padding-left: 25%;
}

.row{
    display: flex;
    flex-wrap: nowrap;
    
   
}

.Footer__ul {
    list-style: none;
    color: black
}

.footer{
    background-color: rgba(0, 252, 168, 0.39);
    padding: 70px 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 200px;
    
  
   
    
}

.footer-col{
    width: 25%;
    padding: 0 15px;
    margin-bottom: 50px;
}

.footer-col h4{
    font-size: 18px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #c92c63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.whatsapp{
    width: 50px;
}

.footer-col .social-links li{
   display: inline-block;
   width: 35px;
   height: 35px;
   background-color: rgba(18, 235, 145, 0.2);
   margin: 0 10px 10px 0;
   text-align: center;
   line-height: 40px;
   border: solid black .5px;
   border-radius: 50%;
   color: #ffffff;
   transition: all 0.5s ease;
}

.footer-col .social-links li:hover{
  color: #24262b;
  background-color: #ffffff;
}


.Footer__Copyright{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}


@media screen and (max-width: 747px) {
    
    .footer-col{
        width: 100%;
       
    }
    .container-footer{
        padding-left: 10%;
     }

}
@media screen and (max-width: 547px){
    
    .row {
        flex-direction: column;
        gap: 1.5rem;
    }

    .container-footer{
       padding-left: 0;
    }
    .footer-col{
        
        width: 100%;
       
    }

    
 
    

}